/* Home css */
.nav{
    background-color:black;
    position: sticky;
    top: 0px;
    padding: 0px;
    width: 100%;
    }
.nav ul{
        list-style-type: none;
        display: flex;
        margin: 0px;
        gap: 20px;
        padding: 10px 15px;
        
}
a{
    color: ghostwhite;
    text-decoration: none;
}
.Home-Page{
    background: #92a8d1;
    min-height: 100vh;
}
.Home-header{
    display: flex;
}
.logo-Home{
    max-width: 5%;
    height: auto;
}
.Home-Page-Logo{
    width: 100%;
    height: auto;
}
.Emergency-Link{
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 3vw;
    margin-right: 50px;
}
.Appointment-Link{
    text-decoration: none;
    color: white;
    font-size: 5vh;
    background-color: #bca5a2;
}
.Introduce{
    font-size: 3vh;
    color: white;
}

.at-a-glance{
    color: white;
    font-size: 3vh;
}

.Testimonials-Link{
    font-size: 4vh;
    color: white;
    text-decoration: none;
    background-color: #bca5a2;
}
/* Emergency css */
.Emergency-Page{
    background: #92a8d1;
    min-height: 100vh;
    min-width:  100vh;
}
.Emergency-Paragraph{
    color: white;
}
/* about css */
.full-about-me{
    background: #a2b9bc;
    min-height: 100vh;   
    
}
.about-me-header{
    display: flex;
}
.logo-about{
    max-width: 5%;
    height: auto;

}
.headshot{
    float: left;
    margin-right: 25px;
    max-width: 30%;
    margin-top: 20px;
    height: auto;
}
.about-me{
    display: flex;
}
.about-me-text{
    max-width: 100%;
    margin: 0;
}

/* Contact css */
.Business-info{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 10px;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.contact-me-header{
    display: flex;
}
.logo-contact{
    max-width: 5%;
    height: auto;

}
.Contact-me-page{
    background: #92a8d1;
    min-height: 100vh;
}
#SubmitText{
    display: none;
}

/* testimonials css */
.testimonials{
    display: flex;
    
    gap: 20px;


}
.first{
    background-color: #bca2ac;
    
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 31%;
    height: auto;
}
.first-picture{
    width: 30%;
    clip-path: circle();
    height: auto;
}
.second{
    background-color: #bca2ac;
    
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 33%;
    height: auto;
}
.second-picture{
    width: 30%;
    clip-path: circle();
    height: auto;
}
.third{
    background-color: #bca2ac;
    
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 33%;
    height: auto;
}
.third-picture{
    width: 30%;
    clip-path: circle();
    height: auto;
}
.call-me{
    color: white;
}

/* @media adjustments */
@media (max-width: 767px){

}
@media (max-width: 480px){
    .nav ul{
        flex-direction: column;
    }

    .Emergency-Link, .Appointment-Link{
        font-size: 6vw;
    }

    .testimonials{
        flex-direction: column;

    }
    .Emergency-Paragraph{
        width: 100%;
        max-width: 100%;
    }

    .first,.second,.third{
        max-width: 100%;
    }
}